:root {
    /* 
        ==============
        THEME COLORS 
        ==============
    */
    /* Brand Colors */
    --physio-primary: #314A2D;
    --physio-primary-hover: #456640;
    --physio-accent: #D4A373;
    /* Background */
    --physio-bg-main: #F8F9FA;
    --physio-bg-alt: #fffcf2;
    --physio-bg-white: #FFFFFF;
    /* Text */
    --physio-text-dark: #1B211A;
    --physio-text-muted: #6B7269;
    --physio-text-light: #FFFFFF;
}

/* --- my default styles and some overriding default Bootstrap --- */

/* 
==============
    NAVBAR
==============
*/

.physio-navbar {
    background-color: var(--physio-primary) !important;
}

.physio-navbar .navbar-brand,
.physio-navbar .nav-link {
    color: var(--physio-text-light) !important;
}

/* hover for navbar links */
.physio-navbar .nav-link:hover,
.physio-navbar .navbar-brand:hover {
    color: var(--physio-accent) !important;
}

/* dropdown Menu */
.dropdown-menu {
    border-color: var(--physio-primary);
}

.dropdown-item {
    color: var(--physio-text-dark);
}


/* dropdown hover */
.dropdown-item:hover, .dropdown-item:focus {
    background-color: var(--physio-bg-alt);
    color: var(--physio-primary);
    font-weight: 500;
}

/* 
    ==============
        Footer
    ==============
*/
.physio-footer {
    background-color: var(--physio-bg-alt);
    color: var(--physio-text-dark) !important;
    position: static !important; 
    width: 100%;
}

.physio-footer a {
    color: var(--physio-primary);
    text-decoration: none;

}

.physio-footer a:hover {
    color: var(--physio-primary-hover);
    text-decoration: underline;
}

/* 
    ==============
        flexbox
    ==============
*/
html, body {
    min-height: 100vh;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}


/* 
    ==============
        Links
    ==============
*/
a {
    color: var(--physio-primary);
    transition: color 0.2s ease-in-out;
}

    a:hover, a:focus {
        color: var(--physio-accent);
        text-decoration: underline;
    }

/* 
     ==============
         Buttons
     ==============
 */
.btn-primary {
    background-color: var(--physio-primary);
    border-color: var(--physio-primary);
    color: var(--physio-text-light);
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}

   .btn-primary:hover,
   .btn-primary:focus,
    .btn-primary:active {
        background-color: var(--physio-primary-hover) !important;
        border-color: var(--physio-primary-hover) !important;
        color: var(--physio-text-light) !important;
    }

.btn-secondary {
    background-color: var(--physio-bg-alt);
    border-color: var(--physio-accent);
    color: var(--physio-text-dark);
}

    .btn-secondary:hover {
        background-color: var(--physio-accent);
        color: var(--physio-text-light);
    }


/* 
     ==============
         Form
     ==============
 */
.form-control{
    margin-bottom: 10px;
}

/* =============
     DASHBOARD 
   ============= */

.physio-text-primary {
    color: var(--physio-primary) !important;
}

.physio-card {
    border-radius: 10px;
    background-color: var(--physio-bg-alt) !important;
}

/* TABLE (only dashboard) */

.table-dash {
    border: 1px solid var(--physio-bg-alt);
}

    .table-dash thead th {
        background-color: var(--physio-bg-alt) !important;
        border-bottom: 2px solid var(--physio-primary);
        color: var(--physio-text-dark);
    }