@model IEnumerable<PhysioHub.Data.Data.CMS.Website>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Therapists" asp-action="Index">Our Team</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Services
            </a>
            <ul class="dropdown-menu shadow-sm border-0" aria-labelledby="servicesDropdown">
                <li><a class="dropdown-item" asp-area="" asp-controller="TreatmentCatalog" asp-action="Index">Treatment Catalog</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Stay" asp-action="Index">Rehabilitation Stays</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Articles" asp-action="Index">Articles</a>
        </li>

        @if (Model != null && Model.Any())
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="infoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Information
                </a>
                <ul class="dropdown-menu shadow-sm border-0" aria-labelledby="infoDropdown">
                    @foreach (var website in Model)
                    {
                        <li>
                            <a class="dropdown-item" asp-area="" asp-controller="Websites" asp-action="Details" asp-route-id="@website.Id">
                                @website.LinkTitle
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
        </li>

    </ul>
</div>