@model IEnumerable<PhysioHub.Data.Data.CMS.Website>

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @foreach (var website in Model)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@website.Id">@website.LinkTitle</a>
            </li>
		}
    </ul>
</div>