@model PhysioHub.Data.Data.CMS.Article

@{
    ViewData["Title"] = "Create Article";
}

<h3>Create New Article</h3>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="form-group col-md-5 mb-3">
                    <label asp-for="LinkTitle" class="control-label"></label>
                    <input asp-for="LinkTitle" class="form-control" />
                    <span asp-validation-for="LinkTitle" class="text-danger"></span>
                </div>
                <div class="form-group col-md-5 mb-3">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>                
            </div>

            <div class="row">
                <div class="form-group col-md-8 mb-3">
                    <label asp-for="ShortDescription" class="control-label"></label>
                    <input asp-for="ShortDescription" class="form-control" />
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 mb-3">
                    <label asp-for="PublishedAt" class="control-label"></label>
                    <input asp-for="PublishedAt" class="form-control" type="datetime-local" />
                    <span asp-validation-for="PublishedAt" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group mb-4">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" rows="15"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary px-4" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary btn-sm">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}